player-connection-mode=Listen
player-connection-guid=3957607332
player-connection-debug=0
player-connection-project-name=DoozyUI Package
player-connection-ip=192.168.66.26
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=60a9eeccd6e149b0bf131fae33fa6728
